# .gitignore
# Written by gpzofficial

# Exclude debug test files
_test.c

# Exclude object files
*.o

# Exclude executable files
main

# Exclude .DS_Store
.DS_Store

# Exclude .cpus files (Scheduler Process Source File)
*.cpus
